<!-- start application list -->
<table class="table table-striped projects">
    <thead>
    <tr>
        <th style="width: 1%">#</th>
        <th style="width: 15%">Application Name</th>
        <th style="width: 10%">Version</th>
        <th style="width: 10%">Author</th>
        <th style="width: 35%">Description</th>
        <th style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, info in appInfos %}
    <tr>
        <td>{{ forloop.Counter }}</td>
        <td>{{ info.Name }}</td>
        <td>{{ info.Version }}</td>
        <td>{{ info.Author }}</td>
        <td>{{ info.Desc }}</td>
        <td>
            <label>
                <input name="{{ uuid }}" type="checkbox" class="js-switch" {% if uuid in enabledUuids %}checked{% endif %}/>&nbsp;Enabled
            </label>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- end application list -->